:root {
    --pink: #f1b18a;
    --green: #b7e4c7;
    --darken-green: #328080;
    --beige: #faf6ed;
    --mobileMaxWidth: 700px;
    --tabletMaxWidth: 960px;
    --desktopMaxWidth: 1285px;
}

html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  background-color: white;
  color: var(--darken-green);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li > a {
  text-decoration: none;
  color: inherit;
}

h1, h3 {
  font-weight: 300;
  font-family: 'Belleza', sans-serif;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 3.6rem;
  text-transform: uppercase;
}

p {
  color: black;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* ICONS */

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.icon--mail {
  background-image: url('./assets/mail.svg');
}

.icon--social-media {
  background-image: url('./assets/social-media.svg');
}

.icon--benchmark {
  background-image: url('./assets/benchmark.svg');
}

.icon--copywriting {
  background-image: url('./assets/copywriting.svg');
}

.icon--kpis {
  background-image: url('./assets/kpis.svg');
}

.icon--brush {
  background-image: url('./assets/brush.svg');
}

.icon--paragraph {
  background-image: url('./assets/paragraph.svg');
}


/* GLOBALS */

.content {
  display: flex;
  padding: 50px 225px;
  height: 100%;
}

.content--large {
  padding-top: 225px;
}

.content__col {
  flex: 1;
}

.content__text {
  display: flex;
  margin: 2rem 0 4rem 0;
}

.content__text p {
  margin: 0 0 0 1rem;
}

.separator {
  border: solid 1px var(--beige);
}

.button {
  font-size: 1rem;
  padding: 1rem;
  background: var(--green);
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

@media all and (max-width: 960px) {
  .content {
    padding: 20px 100px;
  }

  .content__col {
    text-align: center;
  }

  .content__text {
    flex-direction: column;
  }

  h1 {
    font-size: 2.6rem;
  }
}

/* HEADER */

.menu {
  display: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
}

header > nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
}

header > nav > ul {
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  border-radius: 10px;
  font-family: 'Belleza', sans-serif;
  background-color: var(--beige);
  color: var(--darken-green);
}

header > nav > ul > li {
  transition: color 0.3s;
  margin: 1rem 2rem;
  font-weight: 400;
}

header > nav > ul > li:hover {
  color: var(--green);
}





/* PROFILE */

#profile {
  height: 100%;
}

#profile .content {
  align-items: center;
  padding: 0 225px;
}

.social-networks {
  display: flex;
  padding-left: 0;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 300;
}

.social-networks img {
  height: 60px;
  border-radius: 50%;
  background-color: var(--beige);
}

.social-networks > span {
  margin-right: 1rem;
}

.social-networks li {
  margin-right: 1rem;
}

.social-networks li:last-child {
  margin: 0;
}

.social-networks ul {
  padding-left: 0;
}

.profile-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 300px;
  height: 100%;
  border-radius: 30% 0;
}

@media all and (max-width: 960px) {
  .profile-picture-wrapper {
    display: none;
  }

  h1 {
    font-size: 2.6rem;
  }
}

@media all and (max-width: 700px) {
  #profile .content, .content {
    padding: 0;
  }
}


/* TABLET */
@media all and (max-width: 960px) {
  #profile .block__content {
    padding: 100px 20px 0;
    text-align: center;
  }

  .social-networks {
    flex-direction: column;
    margin-top: 50px;
  }

  .social-networks ul {
    margin: 1rem 0;
  }

  .profile-picture {
    display: none;
  }

  .text-content {
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 700px) {
  header {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--beige);
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    font-family: 'Belleza', sans-serif;
  }

  .menu ul > li {
    padding: 1rem 0;
    color: var(--darken-green);
  }

  .menu-closed {
    background-color: transparent;
  }

  .menu-closed nav {
    display: none;
  }

  .menu-icon {
    background-image: url('./assets/menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--green);
  }

  .menu-icon--close {
    background-image: url('./assets/close.svg');
  }
}


/* COMPETENCES */

#competences {
  background-color: var(--green);
}

#competences .content__col {
  text-align: left;
  padding: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 10px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.skill__icon {
  background: var(--beige);
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: .5rem;
}

.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 10px;
  font-size: 1.2rem;
}

.tools > li > ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.tools > li > ul::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: red;
}

.tools > li {
  flex: 1;
  text-align: center;
}

.tool-skill {
  width: 30px;
  height: 30px;
  border: solid 2px transparent;
  background-color: var(--beige);
  border-radius: 50%;
}

.tool-skill--filled {
  border: solid 3px var(--pink);
}

.tool-skill:not(:last-child) {
  margin-right: .5rem;
}

@media all and (max-width: 1285px) {
  #competences .content {
    flex-direction: column;
  }
}

@media all and (max-width: 700px) {
  .separator {
    margin: 0 100px;
  }

  .tools {
    grid-template-columns: repeat(2, 1fr);
  }
}